<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Клининг, LuxEmbrace">
  <meta name="description" content="Весь спектр клининговых услуг">
  <title>{{ tittle }}</title>
  <link rel="stylesheet" href="css/main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
</head>

<body class="body">

  {% block content %}
  {% endblock %}

</body>

<script>
  var slider = tns({
    container: '.c-list',
    items: 1,
    loop: false,
    mouseDrag: true,
    controls: true,
    controlsText: '  ',
    navPosition: 'botoom',
    responsive: {
      200: {
        items: 1
      },
      577: {
        items: 2
      },
      768: {
        items: 3
      },
      992: {
        items: 4
      }
    }
  });

</script>

</html>