{% set tittle = 'LuxEmbrace' %}
{% extends "templates/default.html" %}
{% import "includes/macros.html" as variable %}

{% set social = [
{href: "#", svgname: "whatsapp"},
{href: "#", svgname: "telegramm"},
{href: "#", svgname: "instagramm"}
]%}

{% set gItem = [
{srcImg: "img/type1-elit", text: "Элитная недвижимость", alt: "Элитный дом"},
{srcImg: "img/type2-admin", text: "Административные здания", alt: "Административные здания"},
{srcImg: "img/type3-home", text: "Квартиры и офисы", alt: "Квартиры и офисы"},
{srcImg: "img/type4-meet", text: "Обслуживание мероприятий", alt: "Подготовка к мероприятию"},
{srcImg: "img/type5-outside", text: "Мытье фасадов", alt: "Мытье фасадов"},
{srcImg: "img/type6-window", text: "Окна и витражи", alt: "Окна и витражи"},
{srcImg: "img/type7-cover", text: "Полы и стены", alt: "Полы и стены"},
{srcImg: "img/type8-floor2", text: "Ковры и покрытия", alt: "Ковры и покрытия"}
]%}

{% set clients = [
{srcImg: "img/client1", title: "Название клиента", type: "Элитная недвижимость", alt: "Элитный дом"},
{srcImg: "img/client2", title: "Длинное Название клиента", type: "Административные здания", alt: "Административные
здания"},
{srcImg: "img/client3", title: "Название клиента", type: "Квартиры и офисы", alt: "Квартиры и офисы"},
{srcImg: "img/client4", title: "Длинное Название клиента", type: "Обслуживание мероприятий", alt: "Подготовка к
мероприятию"},
{srcImg: "img/client1", title: "Название клиента", type: "Элитная недвижимость", alt: "Элитный дом"},
{srcImg: "img/client2", title: "Длинное Название клиента", type: "Административные здания", alt: "Административные
здания"},
{srcImg: "img/client3", title: "Название клиента", type: "Квартиры и офисы", alt: "Квартиры и офисы"},
{srcImg: "img/client4", title: "Длинное Название клиента", type: "Обслуживание мероприятий", alt: "Подготовка к
мероприятию"}
]%}

{% macro imageSvg(name, class, width, height) %}
<svg class="{{ class }}" width="{{ width }}" height="{{ height }}">
  <use xlink:href='img/svg/sprite.svg#{{ name }}'></use>
</svg>
{% endmacro %}
{% macro imageSvgColor(name, class, width, height) %}
<svg class="{{ class }}" width="{{ width }}" height="{{ height }}">
  <use xlink:href='img/svgcolor/sprite.svg#{{ name }}'></use>
</svg>
{% endmacro %}

{% block content %}

<header class="header">
  <div class="header__cover">
    <div class="header__contact h-contact">
      <ul class="h-contact__list">

        {% for item in social %}
        <li class="h-contact__item">
          <a href="{{ item.href }}" class="h-contact__link">
            <svg class="svg" width="32px" height="32px">
              <use xlink:href='img/svg/sprite.svg#{{ item.svgname }}'></use>
            </svg>
          </a>
        </li>
        {% endfor %}

        <li class="h-contact__item h-contact__item--end">
          <a href="tel:" class="h-contact__link h-contact__link--tel">
            <span class="h-contact__tel--top">+7 495</span><span class="h-contact__tel--middle">670 8900</span>
          </a>
        </li>
      </ul>
    </div>
    <nav class="header__nav hidden-text">
      <h1>Сайт клининговых услуг различной сложности</h1>
      <ul>
        <li><a href="#general">Весь спектр клининговых услуг</a></li>
        <li><a href="#about">Почему выбирают нас</a></li>
        <li><a href="#clients">Наши довольные клиенты</a></li>
        <li><a href="#feedback">Напишите нам</a></li>
      </ul>
    </nav>
    <div class="header__logo">
      {{ imageSvg('logo', 'svg', '217px', '186px') }}
    </div>
    <div class="header__tittle">Не откажите себе в одном из вечных удовольствий - смотреть на нашу работу</div>
    <a href="#" class="header__btn">
      {{ imageSvg('polygon', 'svg', '22px', '25px') }}
      <span>Смотреть</span>
    </a>
  </div>
  <div class="header__backgroud">
    <video preload="auto" loop autoplay poster="img/start-video.jpg" muted class="header__video">
      <!-- <source src="video/video.mp4" type="video/mp4">
      <source src="video/video.ogv" type="video/ogg">
      <source src="video/video.webm" type="video/webm"> -->
    </video>
  </div>
</header>
<main class="main">
  <section class="general-wrap" id="general">
    <div class="conteiner">
      <div class="general">
        <h2 class="general__title">Весь спектр клининговых услуг</h2>
        <ul class="general__list">
          {% for item in gItem %}
          <li class="general__item g-item">
            <picture>
              <source type="image/webp" srcset="{{ item.srcImg }}.webp 1x, {{ item.srcImg }}@2x.webp 2x">
              <img src="{{ item.srcImg }}.jpg" alt="{{ item.alt }}" class="g-item__img "
                srcset="{{ item.srcImg }}.webp 1x, {{ item.srcImg }}@2x.webp 2x">
            </picture>
            <h3 class="g-item__text">{{ item.text }}</h3>
          </li>
          {% endfor %}
        </ul>
        <a href="#" class="general__link">Посмотреть цены</a>
      </div>
    </div>
  </section>
  <section class="about-wrap" id="about">
    <svg class="about-wrap__svg-start">
      <use xlink:href='img/svg/sprite.svg#transition1'></use>
    </svg>
    <div class="conteiner">
      <div class="about">
        <h2 class="about__title">Почему выбирают нас</h2>
        <ul class="about__list">
          <li class="about__item a-item">
            <div class="a-item__svg">
              {{ imageSvgColor('chouse-cln1', 'svgcolor', '85px', '206px') }}
              {{ imageSvgColor('chouse-cln2', 'svgcolor', '185px', '156px') }}
              {{ imageSvgColor('chouse-cln3', 'svgcolor', '163px', '152px') }}
            </div>
            <div class="a-item__description">
              <h3 class="a-item__title">Чистота - понятие не растяжимое</h3>
              <p class="a-item__text">Чистоту наводят опытные специалисты с многолетним стажем и опытом</p>
            </div>
          </li>
          <li class="about__item a-item a-item--return">
            <div class="a-item__svg">
              {{ imageSvgColor('chouse-per1', 'svgcolor', '165px', '173px') }}
              {{ imageSvgColor('chouse-per2', 'svgcolor', '117px', '143px') }}
              {{ imageSvgColor('chouse-per3', 'svgcolor', '167px', '181px') }}
            </div>
            <div class="a-item__description">
              <h3 class="a-item__title">Персонал</h3>
              <p class="a-item__text">Обоятельные и харизматичные сотрудники имеющие опыт общения с VIP-клиентом</p>
            </div>
          </li>
          <li class="about__item a-item">
            <div class="a-item__svg">
              {{ imageSvgColor('chouse-prs1', 'svgcolor', '202px', '201px') }}
              {{ imageSvgColor('chouse-prs2', 'svgcolor', '204px', '163px') }}
            </div>
            <div class="a-item__description">
              <h3 class="a-item__title">Цены</h3>
              <p class="a-item__text">Расчитываем реальную стоимость работ<br>Никаких скрытых доплат</p>
            </div>
          </li>
          <li class="about__item a-item a-item--return">
            <div class="a-item__svg">
              {{ imageSvgColor('chouse-ind1', 'svgcolor', '157px', '126px') }}
              {{ imageSvgColor('chouse-ind2', 'svgcolor', '108px', '173px') }}
              {{ imageSvgColor('chouse-ind3', 'svgcolor', '119px', '190px') }}
            </div>
            <div class="a-item__description">
              <h3 class="a-item__title">Индивидуальный подход</h3>
              <p class="a-item__text">Особенно важен в обслуживании мероприятий <br>Делаем в удобное для вас время</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <svg class="about-wrap__svg-end">
      <use xlink:href='img/svg/sprite.svg#transition1'></use>
    </svg>
  </section>
  <section class="clients-wrap" id="clients">
    <div class="clients">
      <h2 class="clients__title">Наши довольные клиенты</h2>
      <div class="clients__slider">
        <button class="prevButton"></button>
        <button class="nextButton"></button>
        <ul class="clients__list c-list">
          {% for item in clients %}
          <li class="c-list__item">
            <picture>
              <source type="image/webp" srcset="{{ item.srcImg }}.webp 1x, {{ item.srcImg }}@2x.webp 2x">
              <img src="{{ item.srcImg }}.jpg" alt="{{ item.alt }}" class="c-list__img"
                srcset="{{ item.srcImg }}.webp 1x, {{ item.srcImg }}@2x.webp 2x">
            </picture>
            <h3 class="c-list__title">{{ item.title }}</h3>
            <p class="c-list__type">{{ item.type }}</p>
          </li>
          {% endfor %}
        </ul>
        <div class="navContainer">
          <button class="navButton navButton--1"></button>
          <button class="navButton navButton--2"></button>
          <button class="navButton navButton--3"></button>
          <button class="navButton navButton--4"></button>
          <button class="navButton navButton--5"></button>
          <button class="navButton navButton--6"></button>
          <button class="navButton navButton--7"></button>
          <button class="navButton navButton--8"></button>
        </div>
      </div>
    </div>

  </section>
  <section class="feedback-wrap" id="feedback">
    <div class="conteiner">
      <div class="feedback">
        <h2 class="feedback__title">Напишите нам</h2>
        <p class="feedback__description">
          Хотите сделать заказ, у вас возникли вопросы или предложения?<br>Напишите свои данные и мы вам перезвоним
        </p>
      </div>
      <form action="#" method="GET" class="feedback__form f-form">
        <input type="text" id="name" placeholder="Как к вам обращаться?" class="f-form__input" name="user-name">
        <label for="name" class="hidden-text f-form__label">Ваше имя</label>
        <input type="text" id="phone" placeholder="Номер телефона" class="f-form__input" name="user-phone">
        <label for="phone" class="hidden-text f-form__label">Номер телефона</label>
        <label for="agree" class="f-form__checkbox-text">я согласен(на) на обработку персональных данных
          <input type="checkbox" id="agree" class="hidden-text f-form__checkbox" name="personal-date" required>
          <span class="f-form__check"></span>
        </label>
        <button type="submit" class="f-form__btn">Перезвоните мне</button>
        <span class="f-form__text">Заявка отправлена. Спасибо за обращение! Мы перезвоним вам в течении 5-10 мин.</span>
      </form>
    </div>
  </section>
</main>
<footer class="footer-wrap">
  <div class="conteiner">
    <div class="footer">
      <div class="footer__logo">
        {{ imageSvg('logo', 'svg', '155px', '133px') }}
      </div>
      <div class="footer__info">
        <p class="footer__text--upper">luxembrace.com</p>
        <p class="footer__text">2021 © ИП «Название предпринимателя»</p>
        <p class="footer__text">Свидетельство регистрации № 5000654700890</p>
        <p class="footer__text">Все права защищены.</p>
        <a href="tel:" class="footer__text footer__text--link">+ 495 670 8900</a>
        <a href="#" class="footer__text footer__text--link">inbox@luxembrace.com</a>
      </div>
    </div>
  </div>

</footer>
{% endblock %}